.fade-scale-enter-active, .fade-scale-leave-active {
  transition: transform .7s ease, opacity .7s ease;
}

.fade-scale-enter {
  position: absolute;
  transform: scale(.9);
  opacity: 0;
}

.fade-abs-enter-active, .fade-abs-leave-active {
  opacity: 1;
  transition: opacity .5s ease;
}

.fade-abs-leave-to {
  opacity: 0;
}


.fade-enter-active, .fade-leave-active {
  transition: all .4s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


.fade-slide-enter-active, .fade-slide-leave-active {
  transition: all .4s ease;
}
.fade-slide-leave-to, .fade-slide-enter {
  opacity: 0;
  transform: translateX(30px);
}


// .fade-enter-active, .fade-leave-active {
//   opacity: 1;
//   transition: opacity .5s ease;
// }

// .fade-leave-to {
//   opacity: 0;
// }

.slide-bottom-active, .slide-bottom-leave-active {
  height: 620px;
  transition: transform 1s ease;
}

.slide-bottom-enter, .slide-bottom-leave-to {
  opacity: 0;
  transform: translateY(50%);
  position: absolute;

}

.slide-left-enter, .slide-left-leave-to {
  opacity: 0;
  transform: translateX(25%);
}


@keyframes fadeBottom {
  0% {
    opacity: 0;
    transform: translateY(-70px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes easyScale {
  0% {
    opacity: 0;
    transform: scale(.5);
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
