.fade-scale-enter-active, .fade-scale-leave-active {
  transition: transform .7s ease, opacity .7s ease;
}

.fade-scale-enter {
  position: absolute;
  transform: scale(.9);
  opacity: 0;
}


.fade-enter-active, .fade-leave-active {
  opacity: 1;
  transition: opacity .5s ease;
}



.fade-leave-to {
  opacity: 0;
}


.slide-bottom-active, .slide-bottom-leave-active {
  // transition: transform 1s ease, opacity 1s ease;
  height: 620px;
  transition: transform 1s ease;
}

.slide-bottom-enter, .slide-bottom-leave-to {
  opacity: 0;
  transform: translateY(50%);
  position: absolute;

}

.slide-left-active, .slide-left-leave-active {
  transition: transform .3s ease;
  transition: opacity .3s ease;
}

.slide-left-enter, .slide-left-leave-to {
  opacity: 0;
  transform: translateX(50%);
}
