@import "./elements.scss";
@import "./animations.scss";

@mixin desktop {
	@media (max-width: 1200px) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: 979px) {
		@content;
	}
}

@mixin tablet2 {
	@media (max-width: 979px) {
		@content;
	}
}

@mixin phone {
	@media (max-width: 767px) {
		@content;
	}
}

@mixin small {
	@media (max-width: 480px) {
		@content;
	}
}

%rwd-sizing {
  max-width: 1100px;
  box-sizing: border-box;
  @include desktop {
    max-width: 960px;
    padding: 0 10px;
  }
  @include tablet {
    max-width: 720px;
  }
  @include phone {
    max-width: 540px;
    // padding: 0 10px;
  }
  @include small {
    padding: 0 5px;
    max-width: 480px;
  }
}

%rwd-sizing2 {
  width: 960px;
  background-color: green;
  @include desktop {
    width: 1200px;
  }
  @include tablet {
    width: 720px;
  }
  @include phone {
    width: 540px;
  }
  @include small {
    width: 480px;
  }
}

$rarityNames: common, uncommon, rare, epic, legendary;
$rarityColors: #e6e6e6, #66bb30, #38d3ff, #f959ff, #ff7826;

// $ff: 'Source Sans Pro', sans-serif;
$ff: 'Open Sans';
$fs: 14px;
$fsp: 16px;

.no-spinners {
	-webkit-appearance: none;
	-moz-appearance: textfield;
  margin: 0;
}

button {
  font-family: $ff;
}

input[type=text], input[type=number], input[type=password] {
  font-family: $ff;
}

// USAGE
	// @include desktop {
	//   font-size: 20px;
	// }
